<header><!-- A grey horizontal navbar that becomes vertical on small screens -->
    <!-- Grey with black text -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'main:index_page' %}">Home Page</a>
        </li>
       <li class="nav-item">
          <a class="nav-link" href="{% url 'main:login_page' %}">Login Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:courses_page' %}">Courses</a>
        </li>
      </ul>
    </div>
  </nav>

</header>