{% extends "main/base.html" %}
{% load static %}

{% block title %} Index Page Title {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6">
            <img class="w-100" src="https://img.freepik.com/free-vector/isometric-education-illustration-with-books_1284-64357.jpg?w=2000">
        </div>
        <div class="col-sm-6 my-auto">
            <p class="my-auto">EPortal — система управления курсами (электронное обучение), также известная как система управления обучением или виртуальная обучающая среда (англ.)рус.. Является аббревиатурой от англ. Modular Object-Oriented Dynamic Learning Environment (модульная объектно-ориентированная динамическая обучающая среда). Представляет собой свободное (распространяющееся по лицензии GNU GPL) веб-приложение, предоставляющее возможность создавать сайты для онлайн-обучения. Первая версия написана 20 августа 2002 года. СДО Moodle занимает примерно 18 % рынка в США.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul>
                {% if favorite_courses %}
                    {% for course in favorite_courses %}
                        <li>Название: {{ course.name }}, описание: {{ course.description }}</li>
                    {% endfor %}
                {% else %}
                    <li>Пока нет никаких курсов</li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}